/* page layout */

body {
  font-family: 'Nunito Sans', sans-serif;
}

main {
  display: grid;
  grid-template-columns: 20% 70% 10%;
  column-gap: 50px;
  max-width: 100em;
  width: 90%;
  margin-left: 10px;
}

/* Key elements */

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  margin-right: 1rem;
}

p {
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
}

#personal-logo {
  width: 115px;
  height: 115px;
  border: 1px solid #C0C0C0;
  border-radius: 100%;
  margin-bottom: 25px;
}


/* ------Side Menu------ */

/* 1. Enable smooth scrolling */
html {
  scroll-behavior: smooth;
  font-weight: 400;
  background-color: #FFFFFF;
}
/* 2. Make side menu sticky */
main > nav {
  position: sticky;
  top: 2rem;
  align-self: start;
}

/* 3. Selected tab*/
.section-nav li.active > a {
  color: #000000;
  font-weight: 700;
}
/* 4. Side Menu Navigation */
.section-nav {
  text-align: right;
  font-size: 14px;
}
/* 5. Non-selected tab */
.section-nav a {
  text-decoration: none;
  line-height: 25px;
  display: block;
  padding: 8px;
  color: #545454;
  font-weight: 400;
  transition: all 20ms ease-in-out; /* This small transition makes setting
  of the active state smooth */
}
/* 6. Hover over tab */
.section-nav a:hover,
.section-nav a:focus {
  color: #000000;
  background-color: #F8F4F0;
}

/* ------End of Side Menu------ */

/*---Nav Bar---*/
#nav_bar{
  list-style-type: none;
  text-align: right;
  padding-top: 45px;
}

#nav_bar .nav_item {
  display: inline-block;
  margin-right: 50px;
}

#nav_bar .nav_item a {
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  padding-bottom: 8px;
  color: #333333;
  letter-spacing: 2px;
  font-weight: 600;
}

.nav_item a:before, .nav_item a:after {
  content: '';
  position: absolute;
  bottom: 5px;
  left: 0;
  right: 0;
  height: 3px;
  background-color: #5C5C5C;
}
.nav_item a:before {
  opacity: 0;
  transform: translateY(- 8px);
  transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s;
}
.nav_item a:after {
  opacity: 0;
  transform: translateY(4px);
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
}
.nav_item a:hover:before, .nav_item a:focus:before, .nav_item a:hover:after, .nav_item a:focus:after {
  opacity: 1;
  transform: translateY(0);
}
.nav_item a:hover:before, .nav_item a:focus:before {
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
}
.nav_item a:hover:after, .nav_item a:focus:after {
  transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s 0.2s;
}

/* Toggle menu */

.toggle_menu {
  background-color: #444444;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  z-index: 3;
}
.toggle_menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  left: 50%;
  top: 170px;
  transition: all 0.3s ease-in-out;
  transform: translateX(-50%);
}
.toggle_menu ul li {
  transform: translateY(50px);
  opacity: 0;
}
.toggle_menu  ul li a {
  display: block;
  font-size: 2em;
  text-decoration: none;
  padding: 10px 0;
  text-align: center;
  color: #FFFFFF;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
  /* text-shadow: 1px 1px 2px rgba(0, 0, 0, .5); */
}

/* hamburger items when hovered */
.toggle_menu  ul li a:hover {
  color: #F8CC46;
}
.toggle-btn {
  display: block;
  position: fixed;
  z-index: 10;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
/* hamburger icon */
.toggle-btn .bar {
  width: 30px;
  height: 2px;
  margin: 7px auto;
  background-color: #444444;
  transition: all 0.3s ease-in-out;
}
#toggle:checked ~ nav {
  opacity: 1;
  visibility: visible;
}
#toggle:checked ~ nav ul {
  top: 70px;
}
#toggle:checked ~ nav ul li {
  transform: translateY(0px);
  opacity: 1;
}
#toggle:checked ~ nav ul li:nth-child(1) {
  transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.1s;
}
#toggle:checked ~ nav ul li:nth-child(2) {
  transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.2s;
}
#toggle:checked ~ nav ul li:nth-child(3) {
  transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.3s;
}
#toggle:checked ~ nav ul li:nth-child(4) {
  transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.4s;
}
#toggle:checked + label.toggle-btn .bar {
  background-color: #C4C4C4;
}
#toggle:checked + label.toggle-btn .bar:nth-child(2) {
  transform: translateX(50px);
  opacity: 0;
}
#toggle:checked + label.toggle-btn .bar:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}
#toggle:checked + label.toggle-btn .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
/* End of toggle menu */


/* ----------------------------CONTENT--------------------------------  */

section {
  padding-bottom: 50px;
}

.center {
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
  padding-bottom: 50px;
}

.center p {
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
}

.heading {
  font-weight: 600;
  font-size: 22px;
  letter-spacing: 1px;
}

#art {
  color: #000000;
  background-color: #F8CC46;
  text-decoration: none;
}

#art:hover {
  background-color: #F0A500;
}

/*------Responsive Design------*/

/* for large screens (e.g. laptop, desktop) */
@media screen and (min-width: 720px) {
  p {
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.5px;

  }
  .toggle_menu {
    display:none;
  }
  .toggle-btn {
    display:none;
  }
}

/* for medium screens (e.g. tablet) */
@media screen and (max-width: 1070px) {
  p {
    font-size: 16px;
  }
  .section-nav {
    font-size: 70%;
  }
  #personal-logo {
    width: 60%;
    height: 60%;
  }
  .toggle_menu {
    display:flex;
  }
}

/* for small screens (mobile) */
@media screen and (max-width: 745px) {
  main {
    display: inline-block;
    grid-template-columns: 20% 80%;
  }
  section {
    padding-right: 50px;
  }
  p {
    font-size: 16px;
    line-height:25px;
  }
  .section-nav {
    display: none;
  }
  #nav_bar .nav_item{
    display: none;
  }
  .toggle_menu {
    display:flex;
  }
}


/* ------Footer------ */
#web_footer {
  padding-top: 20px;
  padding-bottom: 0px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #F8F4F0;
  color: #333333;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
}

#footer_icons{
  list-style-type: none;
  margin: 0;
  padding: 10px;
  z-index: 1;
  background-color: transparent;
  text-align:center;
}

.footer-item {
  display: inline-table;
  padding: 10px;
}
