/* =======GENERAL======= */

body {
  font-family: 'Nunito Sans', sans-serif;
}
* {
  box-sizing: border-box;
}
ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  margin-right: 1rem;
}
h1 {
  font-weight: 700;
  font-size: 35.5px;
  font-style: normal;
  color: #333333;
  letter-spacing: 0.75px;
}
h2 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
  margin-top: 20px;
  letter-spacing: 1px;
  text-align: left;
}
h3 {
  font-weight: 300;
  font-size: 20px;
  font-style: normal;
  color: #333333;
}
img {
  max-width: 100%;
  max-height: 100%;
}
p {
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
}
section {
  padding-bottom: 50px;
}
/* Carousel + Annotation on each slide */
.carousel {
  position: relative;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
}
.carousel:hover .slide:after,
.carousel:hover .counter,
.carousel:hover .slide:before {
  opacity: 1;
}

.counter {
  position: absolute;
  bottom: 20px;
  right: 1px;
  height: 20px;
  width: 60px;
  z-index: 2;
  text-align: center;
  color: #000000;
  line-height: 21px;
  font-size: 16px;
  opacity: 0;
  transition: opacity 0.3s;
}
.faux-ui-facia {
  top: 0;
  right: 0;
  float: right;
  position: absolute;
  margin-top: 0;
  z-index: 9;
  height: 100%;
  width: 100%;
  opacity: 0;
  cursor: pointer;
}
.faux-ui-facia:checked {
  z-index: 8;
}
.faux-ui-facia:checked + .slide {
  opacity: 0;
}
.faux-ui-facia:checked:nth-child(1):checked {
  z-index: 9;
}
.faux-ui-facia:nth-child(1):checked {
  float: left;
  z-index: 9;
}
.faux-ui-facia:nth-child(1):checked + .slide {
  opacity: 1;
}
.faux-ui-facia:nth-child(1):checked ~ .faux-ui-facia {
  float: left;
  z-index: 8;
}
.faux-ui-facia:nth-child(1):checked ~ .faux-ui-facia + .slide {
  opacity: 0;
}
.faux-ui-facia:nth-child(1):checked ~ .faux-ui-facia:checked {
  z-index: 9;
}
.faux-ui-facia:nth-child(1):checked ~ .faux-ui-facia:checked + .slide {
  opacity: 1;
}

/* annotation */

.slide {
  float: right;
  position: absolute;
  z-index: 1;
  background-color: #FFFFFF;
  text-align: center;
  transition: opacity 0.4s;
  opacity: 1;
}
.slide:before {
  content: attr(data-annot);
  display: block;
  position: absolute;
  left: 20px;
  bottom: 20px;
  color: #000000;
  font-size: 16px;
  font-weight: 600;
  z-index: 12;
  opacity: 0;
  transition: opacity 0.3s;
}
.slide:after {
  content: attr(data-slide);
  display: block;
  position: absolute;
  bottom: 0;
  transition: opacity 0.3s;
  width: 100%;
  height: 80px;
  opacity: 0;
  text-align: left;
  line-height: 101px;
  font-size: 16px;
  color: #000000;
}

/* ======End of carousel======*/

.center {
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
  padding-bottom: 50px;
}
.center p {
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
}

#personal-logo {
  width: 115px;
  height: 115px;
  border: 1px solid #C0C0C0;
  border-radius: 100%;
  margin-bottom: 25px;
}

/*---Nav Bar---*/
#nav_bar{
  list-style-type: none;
  text-align: right;
  padding-top: 50px;
}
#nav_bar .nav_item {
  display: inline-block;
  margin-right: 50px;
}
#nav_bar .nav_item a {
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  padding-bottom: 8px;
  color: #333333;
  letter-spacing: 2px;
  font-weight: 600;
}
.nav_item a:before, .nav_item a:after {
  content: '';
  position: absolute;
  bottom: 5px;
  left: 0;
  right: 0;
  height: 3px;
  background-color: #5C5C5C;
}
.nav_item a:before {
  opacity: 0;
  transform: translateY(-8px);
  transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s;
}
.nav_item a:after {
  opacity: 0;
  transform: translateY(4px);
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
}
.nav_item a:hover:before, .nav_item a:focus:before, .nav_item a:hover:after, .nav_item a:focus:after {
  opacity: 1;
  transform: translateY(0);
}
.nav_item a:hover:before, .nav_item a:focus:before {
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
}
.nav_item a:hover:after, .nav_item a:focus:after {
  transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s 0.2s;
}

/* Toggle menu */
.toggle_menu {
  background-color: #444444;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  z-index: 10;
}
.toggle_menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  left: 50%;
  top: 170px;
  transition: all 0.3s ease-in-out;
  transform: translateX(-50%);
}
.toggle_menu ul li {
  transform: translateY(50px);
  opacity: 0;
}
.toggle_menu  ul li a {
  display: block;
  font-size: 2em;
  text-decoration: none;
  padding: 10px 0;
  text-align: center;
  color: #FFFFFF;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
}

/* hamburger items when hovered */
.toggle_menu  ul li a:hover {
  color: #F8CC46;
}
.toggle-btn {
  display: block;
  z-index: 11;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
/* hamburger icon */
.toggle-btn .bar {
  display:block;
  width: 30px;
  height: 2px;
  margin: 7px auto;
  background-color: #444444;
  transition: all 0.3s ease-in-out;
}
#toggle:checked ~ nav {
  opacity: 1;
  visibility: visible;
}
#toggle:checked ~ nav ul {
  top: 70px;
}
#toggle:checked ~ nav ul li {
  transform: translateY(0px);
  opacity: 1;
}
#toggle:checked ~ nav ul li:nth-child(1) {
  transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.1s;
}
#toggle:checked ~ nav ul li:nth-child(2) {
  transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.2s;
}
#toggle:checked ~ nav ul li:nth-child(3) {
  transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.3s;
}
#toggle:checked ~ nav ul li:nth-child(4) {
  transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.4s;
}
#toggle:checked + label.toggle-btn .bar {
  background-color: #C4C4C4;
}
#toggle:checked + label.toggle-btn .bar:nth-child(2) {
  transform: translateX(50px);
  opacity: 0;
}
#toggle:checked + label.toggle-btn .bar:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}
#toggle:checked + label.toggle-btn .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
/* End of toggle menu */

/* ------Side Menu------ */
/* 1. Enable smooth scrolling */
html {
  scroll-behavior: smooth;
  font-weight: 400;
  background-color: #FFFFFF;
}
/* 2. Make side menu sticky */
main > nav {
  position: sticky;
  top: 2rem;
  align-self: start;
}
/* 3. Selected tab*/
.section-nav li.active > a {
  color: #000000;
  font-weight: 700;
}
/* 4. Side Menu Navigation */
.section-nav {
  text-align: right;
  font-size: 14px;
}
/* 5. Non-selected tab */
.section-nav a {
  text-decoration: none;
  line-height: 25px;
  display: block;
  padding: 8px;
  color: #545454;
  font-weight: 400;
  transition: all 20ms ease-in-out; /* This small transition makes setting
  of the active state smooth */
}
/* 6. Hover over tab */
.section-nav a:hover,
.section-nav a:focus {
  color: #000000;
  background-color: #F8F4F0;
}

#home-btn a:hover,
#home-btn a:focus {
  background-color: #FFFFFF;
}
#personal-logo:hover {
  border: 2px solid #808080;
}

/* ------End of Side Menu------ */


/* ------Footer------ */
footer {
  border-top: 50px;
  padding-top: 20px;
  padding-bottom: 10px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #F8F4F0;
  color: #333333;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
}

#footer_icons{
  list-style-type: none;
  margin: 0;
  padding-top: 15px;
  z-index: 1;
  background-color: transparent;
  text-align:center;
}

.footer-item {
  display: inline-table;
}

footer #copyright {
  text-align: center;
  font-size: 14px;
}


/* ======INDEX======= */

/* Hero image */
.wrapper_top {
  display: grid;
  grid-template-columns: 30% 70%;
}
#top_left {
  padding-right: 15px;
  background-color: #F8CC46;
  z-index: 1;
}
#top_right {
  padding-left: 20px;
  background-color: #F8F4F0;
}
#top_right #tagline {
  padding-bottom: 20px;
  float: left;
}
#hero_left{
  text-align: right;
  padding-top: 78px;
  color: #333333;
}
#hero_right{
  padding-top: 6px;
  text-align: left;
  z-index: 1;
}
#main_logo{
  position: absolute;
  width: 120px;
  height: 120px;
  left: 80px;
  top: 40px;
  z-index: 2;
}
/* Case Study Text */
.proj-name {
  font-weight: 700;
  color: #333333;
  letter-spacing: 0.75px;
}
.proj-description {
  padding-bottom: 10px;
}

/* Case Study Button */
.case-btn {
  display: block;
  background-color: #333333;
  border: 2px solid #333333;
  color: #FFFFFF;
  font-size: 14px;
  text-transform: uppercase;
  padding: 15px;
  width: 250px;
  border-radius: 25px;
  text-align: center;
  font-weight: 700;
  letter-spacing: 2px;
  text-decoration: none;
}
.case-btn:hover {
  background: #F1EFED;
  color: #333333;
  transition-duration: 0.4s;
}

#hidden-case-tan-btn {
  display: none;
}

/* Case Grid */
.case-grid-container {
  max-width: 1208px;
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 30% 70%;
  grid-template-areas: "case-left" "case-right";
  padding-left: 115px;
  padding-top: 50px;
  padding-bottom: 50px;
}
#proj-cover {
  width: 675px;
  height: 400px;
}

/* ======PROJECT TANGRAM======= */

.proj-tangram-main {
  display: grid;
  grid-template-columns: 25% 60% 15%;
  column-gap: 60px;
  max-width: 100em;
  width: 90%;
  margin-left: 30px;
}
#cover-image {
  display: block;
  width: auto;
  height: 410px;
  padding-bottom: 35px;
}
#deliverables {
  width: 700px;
  height: 580px;
  margin-top: 50px;
}

/* prototype buttons */
.proto-btn {
  text-decoration: none;
  display: inline-block;
  background-color: #444444;
  color: #FFFFFF;
  border: 1px solid #444444;
  border-radius: 25px;
  font-size: 13px;
  text-transform: uppercase;
  padding: 15px;
  width: 220px;
  text-align: center;
  font-weight: 600;
  letter-spacing: 3px;
  margin-right: 20px;
  margin-bottom: 25px;
  transition-duration: 0.3s;
}
.proto-btn:hover {
  background-color: #F8F4F0;
  color: #333333;
}

/* problems */
.prob-bullet {
  display: flex;
  justify-content:center;
  align-items: center;
  height: 40px;
  width: 40px;
  font-size: 16px;
  font-weight: 600;
  background-color: #E32900;
  color: #FFFFFF;
  border-radius: 100px;
  margin: 0px;
  padding: 0px;
}
.problem-list  #prob-special {
  display: flex;
  justify-content:center;
  align-items: center;
  height: 40px;
  width: 80px;
  font-size: 18px;
  margin-top: 8px;
  background-color: #FFDF37;
  color: #333333;
  border-radius: 5px;
}
.problem-list p {
  margin: 14px;
}

/* solution */
#car-solut {
  width: 750px;
  height: 500px;
}
.slide-solut {
  width: 750px;
  height: 500px;
}
.slide-solut:after {
  text-indent: 690px;
}

/* User Research */

/* chart results*/
.result-num{
  display: flex;
  justify-content:center;
  align-items: center;
  height: 40px;
  width: 80px;
  font-size: 18px;
  font-weight: 600;
  margin-top: 5px;
  background-color: #0074D8;
  color: #FFFFFF;
  border-radius: 5px;
}

/* user stories */
.user-bullet {
  font-size:18px;
  font-weight: 600;
  color: #EA0000;
  padding-right: 10px;
  margin-top: 0px;
  margin-bottom: 15px;
}
.user-stories p {
  margin-top: 0px;
  margin-bottom: 15px;
}
.user-stories #med {
  color: #E6682E;
  padding-right: 10px;
}

/* personas */
#car-per {
  width: 720px;
  height: 600px;
}
.slide-per {
  width: 720px;
  height: 600px;
}
.slide-per:after {
  text-indent: 660px;
}


/* competitive analysis */
.cloud-compare th {
  text-align: right;
  padding-right: 15px;
}

.cloud-compare td {
  text-align: center;
  width: 200px;
}

.comp-symbol {
  width: 40px;
  height: 40px;
}

.video-compare td{
  vertical-align: text-top;
}

.vid-heading{
  font-weight: 700;
  margin-bottom: 5px;
  padding: 0px;
  line-height: 20px;
}

.vid-content{
  margin-bottom: 5px;
  padding: 0px;
  line-height: 20px;
}


/* ======ABOUT======= */

.about-main {
  display: grid;
  grid-template-columns: 20% 70% 10%;
  column-gap: 50px;
  max-width: 100em;
  width: 90%;
  margin-left: 10px;
}

.abt-heading {
  font-weight: 600;
  font-size: 22px;
  letter-spacing: 1px;
}

#hidden-propic {
  display: none;
}

#art-tag {
  color: #000000;
  background-color: #F8CC46;
  text-decoration: none;
}

#art-tag:hover {
  background-color: #F0A500;
}

/* ======FUN======= */

.fun-main {
  display: grid;
  grid-template-columns: 20% 70% 10%;
  column-gap: 10px;
  max-width: 100em;
  width: 90%;
  margin: 10px;
}

.display-container {
  position: relative;
  margin-top: 80px;
  margin-left: 100px;
}

.art-cap {
  display: block;
  height: 315px;
  border-radius: 15px;
}

.overlay {
  position: absolute;
  border-radius: 15px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.6s ease;
  background-color: #000000;
}

.display-container:hover .overlay {
  opacity: 0.8;
}

.pop-text {
  color: #FFFFFF;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/* ======FUN DIGITAL======= */

.digital-main {
  display: grid;
  grid-template-columns: 20% 70% 10%;
  column-gap: 60px;
  max-width: 100em;
  width: 90%;
  margin-left: 30px;
}

#digital-heading {
  color: #444444;
  padding-left: 250px;
  font-size: 25px;
  letter-spacing: 1px;
}
/* carousel  */
#car-digi {
  width: 700px;
  height: 570px;
}
.slide-digi {
  width: 700px;
  height: 570px;
}
.slide-digi:after {
  text-indent: 630px;
}

/* ======FUN FINELINER======= */

.fineliner-main {
  display: grid;
  grid-template-columns: 20% 70% 10%;
  column-gap: 60px;
  max-width: 100em;
  width: 90%;
  margin-left: 30px;
}

#car-fine {
  width: 675px;
  height: 585px;
}
.slide-fine {
  height: 100%;
  width: 100%;
}
.slide-fine:after {
  text-indent: 605px;
}


/* ======RESPONSIVE======= */

/* for large screens (e.g. laptop, desktop) */
@media screen and (min-width: 720px) {
  h1 {
    font-size: 35.5px;
  }
  h2 {
    font-size: 32px;
  }
  p {
    font-size: 18px;
  }
  .proj-description {
    display: block;
    font-size: 20px;
  }
  .case-grid-container {
    grid-template-columns: 1fr 1fr;
  }
  #proj-cover {
    max-width: 675px;
    max-height: 400px;
  }
  .toggle_menu {
    display:none;
  }
  .toggle-btn {
    display:none;
  }

  /* FUN */
  .fun-content {
    display:inline-flex;
  }
}

/* for medium screens (e.g. tablet) */
@media screen and (max-width: 1070px) {
  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 25px;
  }
  h3 {
    font-size: 16px;
  }
  p {
    font-size: 16px;
  }
  .case-grid-container {
    grid-template-columns: 1fr 1fr;
  }
  .proj-description {
    display: block;
    font-size: 16px;
  }
  .section-nav {
    font-size: 70%;
  }
  #cover-image {
    width: 50%;
    height: 50%;
  }
  #deliverables {
    width: 80%;
    height: 80%;
  }
  #car-solut {
    width: 600px;
    height: 400px;
  }
  #car-per {
    width: 576px;
    height: 480px;
  }
  div .slide{
    width: 100%;
  }

  div .counter {
    display: none;
  }
  #main_logo {
    width: 70px;
    height: 70px;
    left: 50px;
  }
  #personal-logo {
    width: 60%;
    height: 60%;
  }
  #proj-cover {
    max-width: 390px;
    max-height: 225px;
  }
  .toggle_menu {
    display:flex;
  }
  /* FUN */
  .fun-content {
    display: block;
  }
}

/* for small screens (mobile) */
@media screen and (max-width: 745px) {

  /* general */
  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 25px;
  }
  h3 {
    font-size: 16px;
  }
  p {
    font-size: 16px;
  }
  section {
    padding-right: 50px;
  }
  .section-nav {
    display: none;
  }
  .toggle-btn {
    position: fixed;
  }
  .toggle_menu {
    display:flex;
  }
  footer {
    position: relative;
    vertical-align: bottom;
  }
  /* INDEX */
  .case-left {
    height: 20px;
  }
  .case-right {
    height: 250px;
  }
  .proj-name {
    font-size: 25px;
    text-align: center;
    padding: 0px;
  }

  .proj-description {
    display: none;
  }
  .proj-tangram-main {
    display: inline-block;
    grid-template-columns: 25% 60%;
  }
  .case-grid-container {
    grid-template-columns: 1fr;
    padding-top: 20px;
    padding-left: 50px;
    display: block;
    margin-bottom: 50px;
  }

  #proj-cover {
    height: 100%;
    margin-top: 20px;
  }
  #main_logo {
    width: 70px;
    height: 70px;
    left: 50px;
  }
  #hero_left{
    text-align: right;
    padding-top: 98px;
    color: #333333;
  }
  #hero_right {
    padding-top: 48px;
  }
  #top_right #tagline {
    font-size: 16px;
  }
  #top_right #tagline br{
    display: none;
  }
  .wrapper_top {
    grid-template-columns: 40% 60%;
  }
  #nav_bar .nav_item{
    display: none;
  }
  #case-tan-btn {
    display: none;
  }
  #hidden-case-tan-btn {
    margin-top: 10px;
    display: block;
  }

  /* PROJECT-TANGRAM */
  #cover-image {
    width: 100%;
    height: 100%;
  }
  #deliverables {
    width: 95%;
    height: 95%;
  }

  #car-solut {
    width: 450px;
    height: 250px;
  }
  #car-per {
    width: 360px;
    height: 300px;
  }
  .slide-solut{
    width: 100%;
  }
  .slide-per{
    width: 100%;
  }
  div .counter {
    display: none;
  }
  .myChart {
    width: 100%;
    height: 100px;
  }
  .myChart2 {
    width: 100%;
    height: 100px;
  }
  .myChart3 {
    width: 100%;
    height: 100px;
  }
  /* ABOUT */
  .about-main {
    display: inline-block;
    grid-template-columns: 1fr;
  }
  #hidden-propic {
    display: block;
    max-width: 50%;
    margin-bottom: 20px;
  }
  #propic-wrap {
    display: none;
  }

  /* FUN */
  .fun-main {
    grid-template-columns: 1fr;
  }
  .fun-content {
    display: table-row;
  }

  /* FUN DIGITAL  */
  .digital-main {
    display: inline-block;
  }
  #digital-heading {
    padding-left: 0px;
  }
  #car-digi {
    width: 360px;
    height: 300px;
  }
  .slide-digi {
    height: 100%;
  }
  /* FUN FINELINER  */
  .fineliner-main {
    display: inline-block;
    grid-template-columns: 20% 80%;
  }
  #car-fine {
    width: 338px;
    height: 293px;
  }
  .slide-fine {
    width: 338px;
    height: 293px;
  }
}
